[Desktop Entry]
Categories=
Exec=env WEBKIT_DISABLE_COMPOSITING_MODE=1 LIBGL_ALWAYS_SOFTWARE=1 penlearn-local
StartupWMClass=penlearn-local
Icon=penlearn-local
Name=Penlearn Local
Comment=Autonomous penetration testing agent
Terminal=false
Type=Application
